/****************************TAG SELECTORS**************************/

body {
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Merriweather', serif;

}
div {
  /* background-color: #e4f9f5; */

}
h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%; /*  90px / 16px = 5.626 * 100  (16px=100%)*/
  /* line-height: 2; */
  margin: 50px auto 0 auto;
  /* margin: 0 auto 0 auto; This is another for to  center blocks */
     /* margin: 0 auto; This is a shorthand for center blocks */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;

}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 7px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
  clear: both;
}

p {
  padding-bottom: 26px;
  margin: 0 auto;
  line-height: 2;

}

a {
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover {
  color: #EAF6F6;
}
/****************************CLASS SELECTORS**************************/

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  position: relative;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.img-code {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img-computer {
  width: 25%;
  float: right;
  /*only use float when is really necesary for wraping text around certain elements
  do not use for positioning */
  margin-left: 30px;

}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.botton-cloud {
  position: absolute;
  left: 250px;
  bottom : 300px;
}
.skill-row-paragraph {
  /*clear: right;  this is the anty float: clear any elements on the same line */
}



.BUTTON_HCV {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat';
   font-size: 16px;
   font-weight: 100;
   padding: 13px;
   background-color: #66BFBF;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_HCV:hover {
   background: #11999E;
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}

.footer-meta {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
